@use "sass:color";

$background-color: #272b24;
$background-darker: #1e211c;
$text-color: #e4ebdf;
$text-alt: #fd6d6d;
$text-alt-darker: color.scale($text-alt, $blackness: 20%);

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;

    column-gap: 75px;
    
    color: $text-color;
    background-color: $background-color;
   
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: .7fr 350px 520px 1fr;
}

a {
    color: $text-alt;

    &:visited {
        color: $text-alt;
    }

    &:hover {
        color: $text-alt-darker;
    }
}

#content {
    grid-column: 3 / 4;

    overflow-y: scroll;
    height: 100%;
}

#sidebar {
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sidebar-portrait {
    border-radius: 50%;
}

#sidebar-bio {
    text-align: center;
}

#sidebar-title {
    font-size: large;
    font-family: 'Georgia';
}

#sidebar-bio-list {
    text-align: center;
    margin: 0px;
    padding: 0px;
    list-style: none;

    li::marker {
        content: '\26E7  ';
    }
}

.post {
    background-color: $background-darker;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    border-radius: 2px;
}