@charset "utf-8";

@import "global.scss";

body {
    background-color: $background-color;
    color: $text-color;
}

a, :visited {
    color: $text-highlight;
}

a:hover {
    color: $text-highlight-dark;
}

@media (min-width: 1024px) {
    @import "desktop.scss";
}

@media (max-width: 1023px) {
    @import "tablet.scss";
}
