@charset "utf-8";

/*
    --background-color: #272b24;
    --background-darker: #1e211c;
    --text-color: #e4ebdf;
    --text-highlight: #fd6d6d;
*/

$background-color: #272b24;
$background-darker: #1e211c;
$text-color: #e4ebdf;
$text-highlight: #fd6d6d;